
.font-13{
    font-size: $font-13;
}
.font-14{
    font-size: $font-14;
}
.font-15{
    font-size: $font-15;
}
.font-16{
    font-size: $font-16;
}
.d-flex{
    display: flex;
}
.a-center{
    align-items: center;
}
.j-center{
    justify-content: center;
}
.ps-relative{
    position: relative;
}
.ps-absolute{
    position: absolute;
}
.d-inline-block{
    display: inline-block;
}