// colors
$bgColor: #202124;
$white: #fff;
$black: #000;
$btnBg: #8ab4f7;
$btnHover: #698abf;  
$labelBg: #303134;
$footerBg: #171717;
$borderColor: #7e7d7d;

// fonts
$arial: arial,sans-serif;


// font-size
$font-13: 13px;
$font-14: 14px;
$font-15: 15px;
$font-16: 16px;